body{
    padding: 20px 40px 20px 40px;
    background-color:#17a2b8;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50vw;
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 2px black
}
button[type="submit"]{
    flex-direction: row;
    background-color:  yellowgreen;
    color: whitesmoke;
    border: 1px solid white;
    width: 100%;

}